.services{
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.services__title{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    color: aliceblue;
    background-color:  transparent;
    margin-bottom: 1rem;

}

.services__list{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    list-style: none;
    color: aliceblue;
    text-align: center;
    padding-left: 0;
    flex-wrap: wrap;

    
    .services__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        border: 3px solid var(--color-orange);
        border-radius: 1rem 0 1rem 0;
        
        width: 150px;
        min-width: 147px;
        max-width: 250px;
        padding: 1rem;
        
        color: aliceblue;


        
        .bx{
            color: aliceblue;
        }
    }


    .services__item:hover{
        filter: sepia(50%);
        background-color: rgba(240, 248, 255, 0.116);
        cursor: default;
    }
}





