.prices__btn--main{
    background-color: rgb(255, 255, 255);
    color: var(--color-orange);
    padding: .3rem;
    border: 1px solid #0000005e;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .5rem;
    cursor: pointer;
    transition: all 150ms;
    width: 320px;
    margin-top: -70px;
}

.prices__btn--main:hover{
    background-color: rgba(40, 52, 58, 0.897);
    color: aliceblue;
}