.home{
    width: 100%;
    height: auto;

    background: linear-gradient(312deg, #2a5248, #25354e, #215353, #c97208);
    background-size: 800% 800%;

    -webkit-animation: backgroundAnimation 7s ease infinite;
    -moz-animation: backgroundAnimation 7s ease infinite;
    -o-animation: backgroundAnimation 7s ease infinite;
    animation: backgroundAnimation 7s ease infinite;

}


@keyframes backgroundAnimation {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}

@-webkit-keyframes backgroundAnimation {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}
@-moz-keyframes backgroundAnimation {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}

@-o-keyframes backgroundAnimation {
    0%{background-position:0% 86%}
    50%{background-position:100% 15%}
    100%{background-position:0% 86%}
}




.whatsapp__container{
    position: fixed;
    bottom: 20px;
    right: 10px;
}